#gameContainer {
  width: 400px;
  height: 400px;
  display: grid;
  grid-template-columns: repeat(40, 1fr);
}

.gameBoardPixel {
  width: 10px;
  height: 10px;
/*   border: 1px solid black; */
}

.food {
  background-color: red;
}

.snakeBodyPixel {
  background-color: green;
}

.scoreBoard {
  margin-top: 20px;
}
